- const lectures = data.lectures.lectures;
- const path = '';

doctype html
html(lang = 'en')

  include partials/head
  block head

  body#page-top(data-spy = 'scroll')

    section.container#lectures
      .row
        .col-12
          .bg-primary.py-1
            h1.text-white.my-4.ps-4 &emsp;#[strong Vorlesungen &amp; Units]

      each lecture in lectures
        if lecture.published
          .row(id =`${lecture.key}`)
            .offset-1.col-10
              h2 #{lecture.title.de}
              p #{lecture.lead.de}

              ul.list-group.list-group-flush
                each unit, index in lecture.units
                  if unit.published
                    li.list-group-item &ensp;&mdash;&ensp;#[a(href = `units/${unit.key}.html`) #{unit.title.de}]

    section#footer.container
      include partials/footer

  include partials/scripts
  block scripts
